.title {
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

md-card {
  margin: 5px;
  padding: 20px;
}

md-card-content {
  font-size: smaller !important;
}

md-card-title {
  display: flex;
  justify-content: space-between;
}

.add-location {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.news {
  background-color: lightsteelblue;
}

.forecast {
  background-color: lightyellow;
}


