/* For use in src/lib/core/theming/_palette.scss */
$md-brtteal: (
    50 : #b4d4ca,
    100 : #83b9a8,
    200 : #5fa48f,
    300 : #447868,
    400 : #396557,
    500 : #2e5146,
    600 : #233d35,
    700 : #182a24,
    800 : #0d1613,
    900 : #020303,
    A100 : #9ae4cd,
    A200 : #4acea5,
    A400 : #337f67,
    A700 : #336555,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-brtblue: (
    50 : #77e6f5,
    100 : #30d8ef,
    200 : #10bfd6,
    300 : #0b8494,
    400 : #096a77,
    500 : #07515b,
    600 : #05383f,
    700 : #031e22,
    800 : #000506,
    900 : #000000,
    A100 : #62ecff,
    A200 : #00ddfb,
    A400 : #008395,
    A700 : #066876,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-brtgreen: (
    50 : #ecf5f0,
    100 : #badacb,
    200 : #95c6b0,
    300 : #67ad8d,
    400 : #56a07e,
    500 : #4b8c6e,
    600 : #40785e,
    700 : #36644f,
    800 : #2b503f,
    900 : #203c2f,
    A100 : #dff7ec,
    A200 : #8de3bb,
    A400 : #4ebc89,
    A700 : #4ea37b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-brtolive: (
    50 : #e4e8d9,
    100 : #c3cba9,
    200 : #aab686,
    300 : #89995c,
    400 : #788650,
    500 : #677345,
    600 : #56603a,
    700 : #454d2e,
    800 : #343a23,
    900 : #222617,
    A100 : #e5efc8,
    A200 : #bfd879,
    A400 : #8ca446,
    A700 : #788849,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-brtbrown: (
    50 : #ffffff,
    100 : #e4dbd0,
    200 : #cfc0ac,
    300 : #b59e7f,
    400 : #aa8f6b,
    500 : #9d805a,
    600 : #8a704f,
    700 : #766044,
    800 : #635039,
    900 : #4f412d,
    A100 : #fdfbf9,
    A200 : #e7cca9,
    A400 : #c29b68,
    A700 : #ae8d62,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-brttan: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #EFEBE4,
    300 : #e8e1d1,
    400 : #ddd4bd,
    500 : #d3c7a9,
    600 : #c9ba95,
    700 : #bead80,
    800 : #b49f6c,
    900 : #aa9258,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #eadfc5,
    A700 : #ded3b7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

